<?xml version="1.0"?>
<AliCloudSearchConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <accessKey>zFpHjfSDcnM3tQGz</accessKey>
  <accessSecret>fzkUhfhWn06i2a83xxM0jlkGfdSQTR</accessSecret>
  <host>http://opensearch-cn-beijing.aliyuncs.com</host>
  <applications>
    <app name="article" indexName="AxeSlide_Article" />
    <app name="template" indexName="AxeSlide_Template" />
  </applications>
</AliCloudSearchConfig>
