<?xml version="1.0" encoding="utf-8" ?>
<OssConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  majorVersion="1" minorVersion="1">
  <accessId>zFpHjfSDcnM3tQGz</accessId>
  <accessKey>fzkUhfhWn06i2a83xxM0jlkGfdSQTR</accessKey>
  <endPoint>http://oss-cn-beijing.aliyuncs.com</endPoint>
  <endPointInternal>http://oss-cn-beijing-internal.aliyuncs.com</endPointInternal>
  <maxErrorRetry>10</maxErrorRetry>
  <connectionTimeout>10000</connectionTimeout>
  <environment>1</environment>
  <cName>yourdomain.com</cName>
</OssConfig>