<?xml version="1.0" encoding="utf-8" ?>
<RedisConfig>
    <clusters>
      <!-- all supported config options see https://github.com/StackExchange/StackExchange.Redis/blob/master/Docs/Configuration.md-->
      <cluster name="cache" hosts="192.168.1.231:6379" options="allowAdmin=False,connectTimeout=5000,connectRetry=3,defaultDatabase=0,password=123456" />
    </clusters>
</RedisConfig>