<?xml version="1.0"?>
<ServiceClientSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  majorVersion="1" minorVersion="1">
  <Services>
    <Service Name="TestService" EndPoint="http://localhost:9001/" Enable="true">
      <Behavior Timeout="30000" MaxBufferSize="0" MaxReceivedMessageSize="0" Ssl="false" />
    </Service>
    <Service Name="UserService" EndPoint="http://localhost:9002/">
      <Behavior Timeout="30000" CompletionOption="" TransferMode="" MaxBufferSize="0" MaxReceivedMessageSize="0" MessageEncoding="" TextEncoding=""/>
    </Service>
  </Services>
</ServiceClientSetting>
