<?xml version="1.0"?>
<DfsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CacheControl>no-cache</CacheControl>
  <ContentEncoding>utf-8</ContentEncoding>
  <Applications>
    <Application Name="common" Provider="Oss" BucketName="dbk-file-1-test" CacheControl="max-age" Acl="1" ContentEncoding="utf-8"/>
    <Application Name="download" Provider="Oss" BucketName="dbk-file-2-test" CacheControl="max-age" Acl="2" ContentEncoding="utf-8" />
    <Application Name="dbk" Provider="Oss" BucketName="dbk-file-1-test" CacheControl="max-age" Acl="1" ContentEncoding="utf-8"/>
  </Applications>
</DfsConfig>